* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #373F51;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
    font-size: 8vmin;
    color: #4b82bc;
    background-color: #d8dbe2;
}

#reset-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #d8dbe2;
    color: #1b1b1e;
    border-radius: 1rem;
}

#new-btn {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.25rem;
    background-color: #d8dbe2;
    color: #1b1b1e;
    border-radius: 1rem;
}

#msg {
    color: #d8dbe2;
    font-size: 8vmin;
}

.msg-container {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide {
    display: none;
}